* {
	box-sizing: border-box;
}

body {
	background: #008080;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
}


p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 15px;
	border: 1px solid #FF4B2B;
	background-color: #ff8000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.btn {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color:#6DB432;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.formContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.girisContainer {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.rightPanelActive .girisContainer {
	transform: translateX(100%);
}

.kayitContainer {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.ightPanelActive .kayitContainer {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}


.otherContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.rightPanelActive .otherContainer{
	transform: translateX(-100%);
}

.other {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .other {
  	transform: translateX(50%);
}

.otherPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.left {
	transform: translateX(-20%);
}

.container.rightPanelActive .left {
	transform: translateX(0);
}

.right {
	right: 0;
	transform: translateX(0);
}

.container.rightPanelActive .right {
	transform: translateX(20%);
}

